@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nanum+Pen+Script&display=swap');
* {
    font-family: 'Gamja Flower', cursive;
}
td{
    border : 1px solid pink;
}
/* 속성을 이용한 선택자 */
input, select {
    padding: 7px;
    border-radius: 4px;
}

input[type=submit], input[type=reset]{
    cursor: pointer;
    border: none;
}

input[type=submit]:hover, input[type=reset]:hover{
    background-color: coral;
}

input[type=text],input[type=password],input[type=email]{
    width: 70%;
}

/* 
    UI 구현 : 레이아웃 , 색상, 글꼴 
    참고 사이트 : https://material.io/resources
*/